.nav-tabs .nav-item .nav-link {
  border: none !important; /* Varsayılan tüm border'ları kaldır */
  border-bottom: 2px solid transparent; /* Varsayılan olarak görünmez çizgi */
  color: #6c757d; /* Varsayılan gri metin rengi */
}

.nav-tabs .nav-item .nav-link.active {
  border: none !important; /* Seçili sekmenin üst/yan border'larını kaldır */
  border-bottom: 2px solid #7f56d9 !important; /* Sadece altta kırmızı çizgi */
  color: #7f56d9; /* Seçili sekmenin metin rengini siyah yap */
  font-weight: 600;
}

h5 {
  font-size: 20;
}
.card {
  margin-top: 100px;
  z-index: 1;
}
.card {
  min-height: auto; 
  transition: all 0.3s ease-in-out; 
}
.modal-body {
  overflow: visible !important;
}
.text-muted {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  color: #6c757d !important;
  z-index: 10; 
  min-height: 50px;
}
.text-muted {
  position: relative !important;
  z-index: 9999 !important;
}

.text-danger {
  display: block;
  min-height: 20px; 
  font-size: 14px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-actions {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: white;
  position: sticky;
  bottom: 0;
  width: 100%;
}
